@import 'variables';

.accommodation {
  &_infos,
  &_infos2,
  &_infos3 {
    display: flex;
    justify-content: space-between;
  }
  &_infos {
    & h1 {
      color: $primary;
      font-weight: 500;
      margin-bottom: 5px;
    }
    & p {
      margin-top: 5px;
      font-size: 18px;
      font-weight: 500;
    }
    &_host {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      margin-bottom: 15px;
      & h3 {
        color: $primary;
        font-weight: 500;
        font-size: 18px;
        padding-right: 10px;
      }
      & img {
        width: 64px;
        height: 64px;
        border-radius: 32px;
      }
    }
    & host-rating {
    }
  }
  &_infos2 {
    & ul {
      padding: 0px;
      margin-top: 0px;
      height: 25px;
      & li {
        display: inline;
        text-align: center;
        background-color: $primary;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-right: 10px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 10px;
      }
    }
    & svg {
      padding-left: 5px;
    }
  }
  &_infos3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    & .dropdown_container {
      width: 47%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .slider {
    margin-top: 30px;
    height: 255px;
  }
  .accommodation {
    &_infos {
      flex-direction: column;
      & h1 {
        font-size: 18px;
      }
      & p {
        font-size: 14px;
      }
      &_host {
        align-items: center;
        & h3 {
          font-size: 12px;
        }
        & img {
          width: 32px;
          height: 32px;
          border-radius: 16px;
        }
      }
      &_host-rating {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
      }
    }
    &_infos2 {
      & svg {
        height: 13px;
        width: 13px;
      }
      & ul {
        height: 18px;
        & li {
          font-size: 10px;
          border-radius: 5px;
        }
      }
    }
    &_infos3 {
      flex-direction: column;
      & .dropdown_container {
        width: 100%;
      }
    }
  }
}
