@import 'variables';

.accommodation {
  &_infos,
  &_infos2,
  &_infos3 {
    display: flex;
    justify-content: space-between;
  }
  &_infos {
    & h1 {
      color: $primary;
      font-weight: 500;
      margin-bottom: 5px;
    }
    & p {
      margin-top: 5px;
      font-size: 18px;
      font-weight: 500;
    }
    &_host {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      & h3 {
        color: $primary;
        font-weight: 500;
        font-size: 18px;
        padding-right: 10px;
      }
      & img {
        width: 64px;
        height: 64px;
        border-radius: 32px;
      }
    }
  }
  &_infos2 {
    & ul {
      padding: 0px;
      margin-top: 0px;
      height: 25px;
      & li {
        display: inline;
        text-align: center;
        background-color: $primary;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-right: 10px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 10px;
      }
    }
    & svg {
      padding-left: 5px;
    }
  }
  &_infos3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    & .dropdown_container {
      width: 47%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
