@import 'variables';

.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  &_container {
    margin-left: 50px;
    margin-right: 50px;
  }
  &_button {
    height: 52px;
    background-color: $primary;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    & div {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.open {
  transform: rotate(180deg);
}
.close,
.open {
  transition-property: transform;
  transition-duration: 0.25s;
}

.wrapper {
  display: flex;
  padding-left: 10px;
  background-color: #f6f6f6;
}

.inner {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out 0.1s;
}

.wrapper.is-open .inner {
  padding-bottom: 20px;
  padding-top: 20px;
  max-height: 100%;
}

@media (max-width: $breakpoint-mobile) {
  .dropdown {
    &_button {
      height: 30px;
      font-size: 13px;
      border-radius: 5px;
      & img {
        width: 16px;
      }
    }
    &_container {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
