@import 'variables';

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (max-width: $breakpoint-mobile) {
  footer {
    height: 210px;
    padding-top: 60px;
  }
}
