@import 'variables';
nav {
  margin-top: 45px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & ul li {
    display: inline;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    & a {
      color: black;
      text-decoration: none;
    }
  }
}

.underlined {
  text-decoration: underline;
}
.not-underlined {
  text-decoration: none;
}

@media (max-width: $breakpoint-mobile) {
  nav {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    & img {
      width: 145px;
    }
    & ul li {
      padding-left: 10px;
      padding-right: 10px;
      & a {
        font-size: 12px !important;
        text-transform: uppercase;
      }
    }
  }
}
