nav {
  margin-top: 45px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & ul li {
    display: inline;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    & a {
      color: black;
      text-decoration: none;
    }
  }
}
