@import 'variables';

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 0px;
  height: 25px;
  margin-bottom: 10px;
  & span {
    display: inline;
    text-align: center;
    background-color: $primary;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 5px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .tags {
    height: 18px;
    & span {
      font-size: 10px;
      border-radius: 5px;
    }
  }
}
